name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      # You can use PyPy versions in python-version.
      # For example, pypy-2.7 and pypy-3.8
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    outputs:
      version_changed: ${{ steps.check_file_changed.outputs.files_changed }}
    steps:
      - run: pip install -U pip pipenv coverage
      - run: pip install -U numpy==1.21.2 scipy==1.7.3 matplotlib
      - name: Check out repository code
        uses: actions/checkout@v2
      - run: set -o pipefail
      - name: Build and install fluidfoam
        run: |
          cd ${{ github.workspace }} && python setup.py develop --user
      - name: Test fluidfoam
        run: make tests
      - name: Test fluidfoam coverage
        run: make tests_coverage
